@import '../../_variables';

.home {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.navigation {
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;


    &__list {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__list-item {
        width: 32rem;
        height: 10.4rem;
        border-radius: 1rem;
        position: relative;        
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }


    &__list-img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }
}

.secondary-title {
    position: relative;
    padding: 1rem;
    margin: 0.8rem;
    font-size: 1.6rem;

    &__shop {
        display: none;
    }

    &__cart {
        display: none;
    }

    &__bar {
        width: 32.4rem;
        height: 0.5rem;
        left: 4.5rem;
        background: $secondary-color
    }
}

