@import '../../variables';

.header {
    height: 10.5rem;
    width: 100%;
    background: $primary-color;
    position: sticky;

    &__title {
    display: none;
    }

    &__logo-container {
    display: flex;
    justify-content: flex-end;
    }
    &__title-logo {
        margin: 1rem;
    }
    &__login-cart {
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
}