@import '../../variables';

.header {
    height: 5.5rem;
    width: 100%;
    background: $primary-color;
    position: sticky;

    &__title {
    display: none;
    }


    &__logo-container {
   display: none;
    }

    &__login-cart {
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 2rem
    }
}

.navigation-header {
    display: none ;
}